.vs/
ChatClient/bin/
ChatClient/obj/
AgentAPI/bin/
AgentAPI/obj/
ExactQnA-Agent-Aspire.AppHost/bin/
ExactQnA-Agent-Aspire.AppHost/obj/
ExactQnA-Agent-Aspire.ServiceDefaults/bin/
ExactQnA-Agent-Aspire.ServiceDefaults/obj/
Preload-KB-Redis/bin/
Preload-KB-Redis/obj/