ChatClien.vs
./ChatClient/bin
./ChatClient/bin/*
./ChatClient/obj
./ChatClient/obj/*
./ExactQnA-Agent-Aspire.AppHost/bin
./ExactQnA-Agent-Aspire.AppHost/bin/*
./ExactQnA-Agent-Aspire.AppHost/obj
./ExactQnA-Agent-Aspire.AppHost/obj/*
./ExactQnA-Agent-Aspire.ServiceDefaults/bin
./ExactQnA-Agent-Aspire.ServiceDefaults/bin/*
./ExactQnA-Agent-Aspire.ServiceDefaults/obj
./ExactQnA-Agent-Aspire.ServiceDefaults/obj/*