.user-message[b-15a8f1pstr] {
    background: rgb(182 215 232);
    align-self: flex-end;
    min-width: 25%;
    max-width: calc(100% - 5rem);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem; 
    color: #1F2937; 
    white-space: pre-wrap; 
}

.assistant-message[b-15a8f1pstr], .assistant-search[b-15a8f1pstr] {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 2rem minmax(0, 1fr);
    gap: 0.25rem; 
}

.assistant-message-header[b-15a8f1pstr] {
    font-weight: 600;
}

.assistant-message-text[b-15a8f1pstr] {
    grid-column-start: 2;
}

.assistant-message-icon[b-15a8f1pstr] {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    width: 1.5rem; 
    height: 1.5rem; 
    color: #ffffff; 
    background: #9b72ce;
}

    .assistant-message-icon svg[b-15a8f1pstr] {
        width: 1rem; 
        height: 1rem; 
    }

.assistant-search[b-15a8f1pstr] {
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.assistant-search-icon[b-15a8f1pstr] {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 1.5rem; 
    height: 1.5rem; 
}

    .assistant-search-icon svg[b-15a8f1pstr] {
        width: 1rem; 
        height: 1rem; 
    }

.assistant-search-content[b-15a8f1pstr] {
    align-content: center;
}

.assistant-search-phrase[b-15a8f1pstr] {
    font-weight: 600;
}

/* Default styling for markdown-formatted assistant messages */
[b-15a8f1pstr] ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

[b-15a8f1pstr] ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
}

[b-15a8f1pstr] li {
    margin: 0.5rem 0;
}

[b-15a8f1pstr] strong {
    font-weight: 600;
}

[b-15a8f1pstr] h3 {
    margin: 1rem 0;
    font-weight: 600;
}

[b-15a8f1pstr] p + p {
    margin-top: 1rem;
}

[b-15a8f1pstr] table {
    margin: 1rem 0;
}

[b-15a8f1pstr] th {
    text-align: left;
    border-bottom: 1px solid silver;
}

[b-15a8f1pstr] th, [b-15a8f1pstr] td {
    padding: 0.1rem 0.5rem;
}

[b-15a8f1pstr] th, [b-15a8f1pstr] tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
